#littlewd{
    color: chocolate;
}
.button{
    text-decoration: none;
    background-color: orange;
    padding: 8px;
    border-radius: 8px;
    color: aliceblue;
    background-image: linear-gradient(orange,rgb(238, 133, 109));
}
.applyflex{
    display: flex;

}
.halfwidth{
    width: 50%;
    margin: 5%;
    
}
.halfwidth img{
    width: 80%;
   
}

h1{
    font-size: xx-large;
}
#background{
    background-image: url(Frame\ 57.jpg);
}
#textmiddle{
    text-align: center;
}